.pictures {
  display: inline-block;
  width: 100%;
  column-gap: 1rem;
  row-gap: 1.25rem;

  & > a {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    height: auto;
    color: white;
    cursor: pointer;
    text-decoration: none;

    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;

    &:hover {
      text-decoration: none;
    }

    & > div {
      text-align: center;

      & > header {
        font-size: 0.9rem;
      }

      & > footer {
        font-size: 0.7rem;
        opacity: 0.5;
      }
    }

    & > span > * {
      border-radius: 1rem;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .pictures {
    column-count: 4 !important;
  }
}

@media only screen and (max-width: 1500px) {
  .pictures {
    column-count: 3;
  }
}

@media only screen and (max-width: 1100px) {
  .pictures {
    column-count: 2;
  }
}

@media only screen and (max-width: 700px) {
  .pictures {
    column-count: 1;
  }
}

.select {
  margin-bottom: 1rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  row-gap: 1rem;

  & > div {
    display: inline-flex;
    gap: 0.2rem;
    flex-direction: column;
  }
}
