.loading {
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.main {
  margin: 3rem;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 2rem;

  & > .image {
    min-width: 35% !important;

    & > span {
      border-radius: 1rem;
    }

    & > footer > a {
      cursor: pointer;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media only screen and (max-width: 1050px) {
    flex-direction: column;

    & > .image > div {
      width: 100% !important;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details {
  display: grid;
  gap: 0.8rem;
  column-gap: 1.2rem;
  grid-template-areas:
    "1fr 1fr"
    "1fr 1fr";

  & > div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: bold;
  }

  & > .date {
    grid-column: 1 / 3;
  }

  @media only screen and (max-width: 620px) {
    grid-template-areas: initial;
    grid-template-rows: ". . .";
    grid-template-columns: 1fr;

    & > .date {
      grid-column: initial;
    }
  }
}

.description {
  margin: 0.5rem 0;
}

.more {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  flex-shrink: 1;

  @media only screen and (max-width: 1000px) {
    flex-direction: column;
  }

  @media only screen and (max-width: 800px) {
    max-width: 100%;

    & > div {
      max-width: 100%;
    }
  }
}

.moreImages {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: nowrap;
  width: auto;

  @media only screen and (max-width: 620px) {
    flex-direction: column;

    & > a {
      width: 100%;
    }
  }

  & > a > div > span {
    border-radius: 1rem;
  }
}

.moreAtLoading {
  padding: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  flex-direction: row;
}
